/*This is the stylesheet for index.html*/
html {
    font-family: sans-serif;
}
body {
    margin: 5; 
    /*background-image: url(https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2020/2/28/ysl5zoefwb8ustjwtsnc/sparks-shine-singapore-max);
    background-repeat: no-repeat;
    background-position: center;
    */
    background-color: rgb(52, 37, 87);
}
.backgroundimg {
    background-image: url(https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2020/2/28/ysl5zoefwb8ustjwtsnc/sparks-shine-singapore-max);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    background-size: cover; 
    position: relative;
}
.backgroundimg::before {
    content : "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(41, 41, 41, 0.5);
}
/*Fix the background text*/

.button-container{
    display: flex;
}
button {
    position: relative;
    width: 100px;
    height: 80px;
}
h1 {
    font-size: 60px;
    color: white;
    text-align: left;
}
h2 {
    position: relative;
    font-size: 60px;
    color: white; 
    text-align: center;
    bottom: -45%;
}
p {
    color: white;
}
form {
    color: yellow;
}
a {
    text-decoration: none;
}
;